In [1]:
import numpy as np
import pandas as pd
se=pd.Series([1,2,3,4,5,6,7,8,9])

In [2]:
se

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [3]:
se.index

RangeIndex(start=0, stop=9, step=1)

In [4]:
se.values

array([1, 2, 3, 4, 5, 6, 7, 8, 9], dtype=int64)

In [5]:
mark=[10,20,30,40,50,60,70,80,90,100]
name=['a','b','c','d','e','f','g','h','i','j']

In [6]:
se=pd.Series(mark,index=name)

In [7]:
se1=se

In [8]:
se1

a     10
b     20
c     30
d     40
e     50
f     60
g     70
h     80
i     90
j    100
dtype: int64

In [9]:
se2=se1/2

In [10]:
se2

a     5.0
b    10.0
c    15.0
d    20.0
e    25.0
f    30.0
g    35.0
h    40.0
i    45.0
j    50.0
dtype: float64

In [11]:
dict={"ram":10,"sam":20,"gam":30,"cham":40,"daam":50}
se3=pd.Series(dict)

In [12]:
se3

ram     10
sam     20
gam     30
cham    40
daam    50
dtype: int64

In [13]:
data=pd.DataFrame(se3)

In [14]:
data

       0
ram   10
sam   20
gam   30
cham  40
daam  50

#### What is the GroupBy function?
Pandas’ GroupBy is a powerful and versatile function in Python. It allows you to split your data into separate groups to perform computations for better analysis.

Let me take an example to elaborate on this. Let’s say we are trying to analyze the weight of a person in a city. We can easily get a fair idea of their weight by determining the mean weight of all the city dwellers. But here ‘s a question – would the weight be affected by the gender of a person?

We can group the city dwellers into different gender groups and calculate their mean weight. This would give us a better insight into the weight of a person living in the city. But we can probably get an even better picture if we further separate these gender groups into different age groups and then take their mean weight (because a teenage boy’s weight could differ from that of an adult male)!

### Aggregation
We have looked at some aggregation functions in the article so far, such as mean, mode, and sum. These perform statistical operations on a set of data. Have a glance at all the aggregate functions in the Pandas package:

1. count() – Number of non-null observations
2. sum() – Sum of values
3. mean() – Mean of values
4. median() – Arithmetic median of values
5. min() – Minimum
6. max() – Maximum
7. mode() – Mode
7. std() – Standard deviation
8. var() – Variance

In [15]:
import pandas as pd
import numpy as np

In [16]:
data=pd.read_csv("super_market.csv")

In [17]:
data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [18]:
###GroupBy has conveniently returned a DataFrameGroupBy object. It has split the data into separate groups. However, it won’t do anything unless it is being told explicitly to do so
data.groupby("Outlet_Location_Type")

In [19]:
####GroupBy has conveniently returned a DataFrameGroupBy object. It has split the data into separate groups. However, it won’t do anything unless it is being told explicitly to do so
data.groupby("Outlet_Location_Type").count()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Type,Item_Outlet_Sales
Outlet_Location_Type,,,,,,,,,,,
Tier 1,2388,1860,2388,2388,2388,2388,2388,2388,2388,2388,2388
Tier 2,2785,2785,2785,2785,2785,2785,2785,2785,930,2785,2785
Tier 3,3350,2415,3350,3350,3350,3350,3350,3350,2795,3350,3350

In [20]:
####Here, GroupBy has returned a SeriesGroupBy object. No computation will be done until we specify the aggregation function:

data.groupby('Outlet_Location_Type')['Item_Outlet_Sales']

In [21]:
data.groupby('Outlet_Location_Type')['Item_Outlet_Sales'].sum()

Outlet_Location_Type
Tier 1    4.482059e+06
Tier 2    6.472314e+06
Tier 3    7.636753e+06
Name: Item_Outlet_Sales, dtype: float64

In [22]:
data.groupby('Outlet_Location_Type')['Item_Outlet_Sales'].agg([np.mean,np.median])

                             mean     median
Outlet_Location_Type
Tier 1                1876.909159  1487.3972
Tier 2                2323.990559  2004.0580
Tier 3                2279.627651  1812.3076

In [23]:
data.groupby('Outlet_Location_Type').agg({"Outlet_Size":pd.Series.mode,"Item_Weight":np.mean,"Item_Weight":"sum"})

                     Outlet_Size  Item_Weight
Outlet_Location_Type
Tier 1                     Small    23979.350
Tier 2                     Small    35560.630
Tier 3                    Medium    31234.995

8### applying function

In [24]:
data.groupby("Outlet_Establishment_Year")["Item_MRP"].apply(lambda x: x-x.mean())

0       109.511501
1       -93.409434
2         1.320301
3        41.317406
4       -87.564582
           ...
8518     73.095818
8519    -32.793246
8520    -58.000081
8521    -38.545434
8522    -66.590387
Name: Item_MRP, Length: 8523, dtype: float64

### filtering

In [25]:
def userfunc(x):
    return x["Item_MRP"].std()<3
data_filter=data.groupby("Item_MRP").filter(userfunc)

In [26]:
data.shape

(8523, 12)

In [27]:
data_filter.shape

(4536, 12)

### transformation

In [28]:
data["Item_wieght"]=data.groupby(["Item_Fat_Content","Item_Type"])["Item_Weight"].transform(lambda x: x.fillna(x.mean()))

###  creating new column for aggregation function

In [29]:
data.head(5)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_wieght
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,9.30
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,5.92
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,17.50
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800,19.20
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,8.93

In [30]:
data.groupby(["Item_Type","Outlet_Type"]).agg(Item_MRP_mean=("Item_MRP",np.mean)
                                                          ,Item_MRP_median=("Item_MRP",np.median))

                                 Item_MRP_mean  Item_MRP_median
Item_Type     Outlet_Type
Baking Goods  Grocery Store         126.438068         119.9124
              Supermarket Type1     125.975262         110.2057
              Supermarket Type2     126.385315         114.7360
              Supermarket Type3     128.809243         120.9756
Breads        Grocery Store         146.452873         130.2310
...                                        ...              ...
Soft Drinks   Supermarket Type3     123.313587         123.0388
Starchy Foods Grocery Store         148.153754         171.8448
              Supermarket Type1     147.793785         164.9842
              Supermarket Type2     151.786918         175.7738
              Supermarket Type3     143.078386         166.4842

[64 rows x 2 columns]

### Pivot Tables

In [31]:
data.head(1)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_wieght
0,FDA15,9.3,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.138,9.3

In [32]:
pd.pivot_table(data,index="Item_Type",aggfunc="mean")
### print item type as index and mean of every column with respect to different item type

,Item_MRP,Item_Outlet_Sales,Item_Visibility,Item_Weight,Item_wieght,Outlet_Establishment_Year
Item_Type,,,,,,
Baking Goods,126.380766,1952.971207,0.069169,12.277108,12.277038,1997.728395
Breads,140.952669,2204.132226,0.066255,11.346936,11.356684,1997.657371
Breakfast,141.788151,2111.808651,0.085723,12.768202,12.794110,1997.336364
Canned,139.763832,2225.194904,0.068129,12.305705,12.304161,1998.152542
Dairy,148.499208,2232.542597,0.072427,13.426069,13.430977,1997.681818
Frozen Foods,138.503366,2132.867744,0.065645,12.867061,12.865020,1998.024533
Fruits and Vegetables,144.581235,2289.009592,0.068513,13.224769,13.222743,1997.719968
Hard Drinks,137.077928,2139.221622,0.064943,11.400328,11.400448,1998.177570
Health and Hygiene,130.818921,2010.000265,0.055216,13.142314,13.130985,1997.734615
Household,149.424753,2258.784300,0.061322,13.384736,13.387790,1997.784615
Meat,139.882032,2158.977911,0.062284,12.817344,12.830580,1997.341176
Others,132.851430,1926.139702,0.060241,13.853285,13.880863,1997.662722
Seafood,141.841719,2326.065928,0.074976,12.552843,12.598710,1997.734375
Snack Foods,146.194934,2277.321739,0.066850,12.987880,12.990602,1997.886667
Soft Drinks,131.492506,2006.511735,0.063972,11.847460,11.839671,1998.098876
Starchy Foods,147.838023,2374.332773,0.067564,13.690731,13.689517,1998.581081

In [33]:
pd.pivot_table(data,index="Item_Type",values="Item_MRP",aggfunc='sum')

                          Item_MRP
Item_Type
Baking Goods            81894.7364
Breads                  35379.1198
Breakfast               15596.6966
Canned                  90706.7270
Dairy                  101276.4596
Frozen Foods           118558.8814
Fruits and Vegetables  178124.0810
Hard Drinks             29334.6766
Health and Hygiene      68025.8388
Household              135976.5254
Meat                    59449.8638
Others                  22451.8916
Seafood                  9077.8700
Snack Foods            175433.9204
Soft Drinks             58514.1650
Starchy Foods           21880.0274

In [34]:
pd.pivot_table(data,index=["Item_Type","Item_Fat_Content"],values=["Item_Outlet_Sales","Item_wieght"],aggfunc=['sum','mean'])

                                             sum               \
                               Item_Outlet_Sales  Item_wieght
Item_Type     Item_Fat_Content
Baking Goods  LF                      33415.8362   241.050000
              Low Fat                536343.1796  3802.571399
              Regular                670838.1086  3664.694542
              low fat                 10764.6544    80.480000
              reg                     14163.5634   166.725000
...                                          ...          ...
Starchy Foods LF                      22197.7720   129.375000
              Low Fat                185974.5850   984.217846
              Regular                126370.1716   811.674800
              low fat                  1618.5598    14.150000
              reg                     15240.1620    86.630833

                                            mean
                               Item_Outlet_Sales Item_wieght
Item_Type     Item_Fat_Content
Baking Goods  LF                     1670.791810   12.052500
              Low Fat                1781.871029   12.633128
              Regular                2192.281401   11.976126
              low fat                1345.581800   10.060000
              reg                    1089.504877   12.825000
...                                          ...         ...
Starchy Foods LF                     2466.419111   14.375000
              Low Fat                2582.980347   13.669692
              Regular                2141.867315   13.757200
              low fat                1618.559800   14.150000
              reg                    2177.166000   12.375833

[70 rows x 4 columns]

### cross tab

In [35]:
pd.crosstab(index=data["Item_Type"],columns=data["Item_Fat_Content"])
### get the number of occurence of different item_fat_content(Lowfat,regular) for different item type

Item_Fat_Content       LF  Low Fat  Regular  low fat  reg
Item_Type
Baking Goods           20      301      306        8   13
Breads                  8      126      108        6    3
Breakfast               2       39       67        0    2
Canned                 17      314      297       10   11
Dairy                  24      382      258       12    6
Frozen Foods           22      424      387        4   19
Fruits and Vegetables  39      580      577       11   25
Hard Drinks             8      199        0        7    0
Health and Hygiene     29      481        0       10    0
Household              54      840        0       16    0
Meat                   10      159      248        1    7
Others                 11      156        0        2    0
Seafood                 4       32       27        1    0
Snack Foods            31      645      485       16   23
Soft Drinks            28      339       70        7    1
Starchy Foods           9       72       59        1    7

In [36]:
pd.crosstab(index=[data["Item_Type"],data["Outlet_Size"]],columns=[data["Item_Fat_Content"],data["Outlet_Type"]])

Item_Fat_Content                             LF                    \
Outlet_Type                       Grocery Store Supermarket Type1
Item_Type             Outlet_Size
Baking Goods          High                    0                 2
                      Medium                  0                 4
                      Small                   2                 3
Breads                High                    0                 0
                      Medium                  0                 0
                      Small                   0                 0
Breakfast             High                    0                 1
                      Medium                  0                 0
                      Small                   0                 0
Canned                High                    0                 5
                      Medium                  0                 2
                      Small                   1                 6
Dairy                 High                    0                 2
                      Medium                  0                 1
                      Small                   1                 6
Frozen Foods          High                    0                 2
                      Medium                  0                 4
                      Small                   1                 8
Fruits and Vegetables High                    0                 5
                      Medium                  0                 5
                      Small                   3                 9
Hard Drinks           High                    0                 0
                      Medium                  0                 0
                      Small                   0                 1
Health and Hygiene    High                    0                 6
                      Medium                  0                 0
                      Small                   0                 5
Household             High                    0                 2
                      Medium                  0                 3
                      Small                   3                18
Meat                  High                    0                 1
                      Medium                  0                 2
                      Small                   0                 4
Others                High                    0                 2
                      Medium                  0                 2
                      Small                   1                 1
Seafood               High                    0                 0
                      Medium                  0                 0
                      Small                   0                 2
Snack Foods           High                    0                 2
                      Medium                  0                 3
                      Small                   4                 4
Soft Drinks           High                    0                 0
                      Medium                  0                 0
                      Small                   3                 8
Starchy Foods         High                    0                 2
                      Medium                  0                 0
                      Small                   0                 2

Item_Fat_Content                                                       \
Outlet_Type                       Supermarket Type2 Supermarket Type3
Item_Type             Outlet_Size
Baking Goods          High                        0                 0
                      Medium                      1                 4
                      Small                       0                 0
Breads                High                        0                 0
                      Medium                      4                 3
                      Small                       0                 0
Breakfast             High                        0                 0
                      Medium                      1                 0
                      Small                       0                 0
Canned                High                        0                 0
                      Medium                      3                 0
                      Small                       0                 0
Dairy                 High                        0                 0
                      Medium                      4                 0
                      Small                       0                 0
Frozen Foods          High                        0                 0
                      Medium                      3                 2
                      Small                       0                 0
Fruits and Vegetables High                        0                 0
                      Medium                      5                 5
                      Small                       0                 0
Hard Drinks           High                        0                 0
                      Medium                      1                 1
                      Small                       0                 0
Health and Hygiene    High                        0                 0
                      Medium                      3                 4
                      Small                       0                 0
Household             High                        0                 0
                      Medium                      5                 6
                      Small                       0                 0
Meat                  High                        0                 0
                      Medium                      0                 3
                      Small                       0                 0
Others                High                        0                 0
                      Medium                      1                 1
                      Small                       0                 0
Seafood               High                        0                 0
                      Medium                      1                 0
                      Small                       0                 0
Snack Foods           High                        0                 0
                      Medium                      3                 4
                      Small                       0                 0
Soft Drinks           High                        0                 0
                      Medium                      5                 3
                      Small                       0                 0
Starchy Foods         High                        0                 0
                      Medium                      2                 1
                      Small                       0                 0

Item_Fat_Content                        Low Fat                    \
Outlet_Type                       Grocery Store Supermarket Type1
Item_Type             Outlet_Size
Baking Goods          High                    0                33
                      Medium                  0                24
                      Small                  25                68
Breads                High                    0                15
                      Medium                  0                12
                      Small                   9                28
Breakfast             High                    0                 5
                      Medium                  0                 4
                      Small                   4                 6
Canned                High                    0                26
                      Medium                  0                38
                      Small                  17                71
Dairy                 High                    0                47
                      Medium                  0                47
                      Small                  28                85
Frozen Foods          High                    0                43
                      Medium                  0                46
                      Small                  25                89
Fruits and Vegetables High                    0                67
                      Medium                  0                62
                      Small                  32               123
Hard Drinks           High                    0                22
                      Medium                  0                29
                      Small                   8                40
Health and Hygiene    High                    0                54
                      Medium                  0                51
                      Small                  30                99
Household             High                    0                99
                      Medium                  0                88
                      Small                  48               183
Meat                  High                    0                14
                      Medium                  0                16
                      Small                  13                32
Others                High                    0                14
                      Medium                  0                15
                      Small                  15                37
Seafood               High                    0                 4
                      Medium                  0                 4
                      Small                   3                 6
Snack Foods           High                    0                63
                      Medium                  0                78
                      Small                  39               150
Soft Drinks           High                    0                40
                      Medium                  0                37
                      Small                  18                76
Starchy Foods         High                    0                10
                      Medium                  0                 9
                      Small                   0                18

Item_Fat_Content                                                       \
Outlet_Type                       Supermarket Type2 Supermarket Type3
Item_Type             Outlet_Size
Baking Goods          High                        0                 0
                      Medium                     33                33
                      Small                       0                 0
Breads                High                        0                 0
                      Medium                     12                13
                      Small                       0                 0
Breakfast             High                        0                 0
                      Medium                      3                 3
                      Small                       0                 0
Canned                High                        0                 0
                      Medium                     36                33
                      Small                       0                 0
Dairy                 High                        0                 0
                      Medium                     38                32
                      Small                       0                 0
Frozen Foods          High                        0                 0
                      Medium                     42                47
                      Small                       0                 0
Fruits and Vegetables High                        0                 0
                      Medium                     66                68
                      Small                       0                 0
Hard Drinks           High                        0                 0
                      Medium                     20                21
                      Small                       0                 0
Health and Hygiene    High                        0                 0
                      Medium                     54                52
                      Small                       0                 0
Household             High                        0                 0
                      Medium                     89                93
                      Small                       0                 0
Meat                  High                        0                 0
                      Medium                     22                22
                      Small                       0                 0
Others                High                        0                 0
                      Medium                     19                14
                      Small                       0                 0
Seafood               High                        0                 0
                      Medium                      2                 5
                      Small                       0                 0
Snack Foods           High                        0                 0
                      Medium                     69                77
                      Small                       0                 0
Soft Drinks           High                        0                 0
                      Medium                     35                33
                      Small                       0                 0
Starchy Foods         High                        0                 0
                      Medium                      7                 7
                      Small                       0                 0

Item_Fat_Content                        Regular                    \
Outlet_Type                       Grocery Store Supermarket Type1
Item_Type             Outlet_Size
Baking Goods          High                    0                37
                      Medium                  0                34
                      Small                  14                69
Breads                High                    0                 9
                      Medium                  0                11
                      Small                   6                26
Breakfast             High                    0                 7
                      Medium                  0                 9
                      Small                   6                13
Canned                High                    0                32
                      Medium                  0                27
                      Small                  17                70
Dairy                 High                    0                26
                      Medium                  0                27
                      Small                  17                57
Frozen Foods          High                    0                44
                      Medium                  0                40
                      Small                  20                99
Fruits and Vegetables High                    0                68
                      Medium                  0                65
                      Small                  37               117
Hard Drinks           High                    0                 0
                      Medium                  0                 0
                      Small                   0                 0
Health and Hygiene    High                    0                 0
                      Medium                  0                 0
                      Small                   0                 0
Household             High                    0                 0
                      Medium                  0                 0
                      Small                   0                 0
Meat                  High                    0                26
                      Medium                  0                27
                      Small                  19                50
Others                High                    0                 0
                      Medium                  0                 0
                      Small                   0                 0
Seafood               High                    0                 1
                      Medium                  0                 3
                      Small                   3                 6
Snack Foods           High                    0                50
                      Medium                  0                56
                      Small                  30               100
Soft Drinks           High                    0                 9
                      Medium                  0                 9
                      Small                   4                13
Starchy Foods         High                    0                 4
                      Medium                  0                 8
                      Small                   4                14

Item_Fat_Content                                                       \
Outlet_Type                       Supermarket Type2 Supermarket Type3
Item_Type             Outlet_Size
Baking Goods          High                        0                 0
                      Medium                     33                30
                      Small                       0                 0
Breads                High                        0                 0
                      Medium                      9                14
                      Small                       0                 0
Breakfast             High                        0                 0
                      Medium                      8                 8
                      Small                       0                 0
Canned                High                        0                 0
                      Medium                     36                36
                      Small                       0                 0
Dairy                 High                        0                 0
                      Medium                     30                33
                      Small                       0                 0
Frozen Foods          High                        0                 0
                      Medium                     44                39
                      Small                       0                 0
Fruits and Vegetables High                        0                 0
                      Medium                     60                64
                      Small                       0                 0
Hard Drinks           High                        0                 0
                      Medium                      0                 0
                      Small                       0                 0
Health and Hygiene    High                        0                 0
                      Medium                      0                 0
                      Small                       0                 0
Household             High                        0                 0
                      Medium                      0                 0
                      Small                       0                 0
Meat                  High                        0                 0
                      Medium                     23                31
                      Small                       0                 0
Others                High                        0                 0
                      Medium                      0                 0
                      Small                       0                 0
Seafood               High                        0                 0
                      Medium                      4                 2
                      Small                       0                 0

In [37]:
data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_wieght
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,9.300
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,5.920
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,17.500
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800,19.200
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,8.930
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834,6.865
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850,8.380
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136,10.600
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976,7.210
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700,14.800

### reset_index

In [38]:
data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_wieght
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,9.300
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,5.920
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,17.500
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800,19.200
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,8.930
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834,6.865
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850,8.380
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136,10.600
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976,7.210
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700,14.800

In [39]:
data.reset_index(inplace=True)

In [40]:
data

,index,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_wieght
0,0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,9.300
1,1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,5.920
2,2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,17.500
3,3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800,19.200
4,4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,8.930
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834,6.865
8519,8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850,8.380
8520,8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136,10.600
8521,8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976,7.210
8522,8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700,14.800

### set_index

In [41]:
data.set_index("Outlet_Establishment_Year",inplace=True)

In [44]:
data.index

Int64Index([1999, 2009, 1999, 1998, 1987, 2009, 1987, 1985, 2002, 2007,
            ...
            2004, 2002, 2009, 2009, 1997, 1987, 2002, 2004, 2009, 1997],
           dtype='int64', name='Outlet_Establishment_Year', length=8523)

In [45]:
data

,index,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_wieght
Outlet_Establishment_Year,,,,,,,,,,,,,
1999,0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380,9.300
2009,1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228,5.920
1999,2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700,17.500
1998,3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800,19.200
1987,4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052,8.930
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1987,8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,High,Tier 3,Supermarket Type1,2778.3834,6.865
2002,8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,NaN,Tier 2,Supermarket Type1,549.2850,8.380
2004,8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,Small,Tier 2,Supermarket Type1,1193.1136,10.600
2009,8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,Medium,Tier 3,Supermarket Type2,1845.5976,7.210
1997,8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,Small,Tier 1,Supermarket Type1,765.6700,14.800

### sort_index

In [46]:
data.sort_index(axis=0)

,index,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_wieght
Outlet_Establishment_Year,,,,,,,,,,,,,
1985,4338,FDH21,NaN,Low Fat,0.031074,Seafood,157.5604,OUT027,Medium,Tier 3,Supermarket Type3,5704.5744,13.951667
1985,3689,FDD53,NaN,Low Fat,0.044008,Frozen Foods,43.7454,OUT027,Medium,Tier 3,Supermarket Type3,671.1264,12.570810
1985,1139,FDH26,NaN,Regular,0.034532,Canned,142.2496,OUT027,Medium,Tier 3,Supermarket Type3,2399.5432,12.831537
1985,1138,FDM21,NaN,Low Fat,0.064052,Snack Foods,256.1646,OUT027,Medium,Tier 3,Supermarket Type3,7472.2734,13.661531
1985,3691,FDY36,NaN,Low Fat,0.016477,Baking Goods,74.3380,OUT019,Small,Tier 1,Grocery Store,146.4760,12.633128
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2009,3600,FDX31,20.35,Regular,0.014886,Fruits and Vegetables,234.4958,OUT018,Medium,Tier 3,Supermarket Type2,3271.7412,20.350000
2009,5053,NCO53,16.20,Low Fat,0.175898,Health and Hygiene,183.7608,OUT018,Medium,Tier 3,Supermarket Type2,2940.1728,16.200000
2009,7710,NCR18,15.85,Low Fat,0.020571,Household,41.6112,OUT018,Medium,Tier 3,Supermarket Type2,255.6672,15.850000
2009,5750,FDV26,20.25,Regular,0.076471,Dairy,196.1794,OUT018,Medium,Tier 3,Supermarket Type2,2731.1116,20.250000
2009,7378,FDJ26,15.30,Regular,0.085110,Canned,215.7218,OUT018,Medium,Tier 3,Supermarket Type2,1923.4962,15.300000

### sort_values

In [53]:
data.sort_values("Item_Weight",ascending=False,inplace=True)

In [54]:
data

,index,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_wieght
Outlet_Establishment_Year,,,,,,,,,,,,,
1998,4257,FDR07,21.35,Low Fat,0.130127,Fruits and Vegetables,96.2094,OUT010,NaN,Tier 3,Grocery Store,190.4188,21.350000
2009,43,FDC02,21.35,Low Fat,0.069103,Canned,259.9278,OUT018,Medium,Tier 3,Supermarket Type2,6768.5228,21.350000
2009,6389,FDR07,21.35,Low Fat,0.078061,Fruits and Vegetables,96.0094,OUT018,Medium,Tier 3,Supermarket Type2,380.8376,21.350000
2004,2368,FDC02,21.35,Low Fat,0.068809,Canned,258.5278,OUT035,Small,Tier 2,Supermarket Type1,5206.5560,21.350000
1998,483,FDC02,21.35,Low Fat,0.115195,Canned,258.3278,OUT010,NaN,Tier 3,Grocery Store,520.6556,21.350000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1985,8485,DRK37,NaN,Low Fat,0.043792,Soft Drinks,189.0530,OUT027,Medium,Tier 3,Supermarket Type3,6261.8490,12.045937
1985,8487,DRG13,NaN,Low Fat,0.037006,Soft Drinks,164.7526,OUT027,Medium,Tier 3,Supermarket Type3,4111.3150,12.045937
1985,8488,NCN14,NaN,Low Fat,0.091473,Others,184.6608,OUT027,Medium,Tier 3,Supermarket Type3,2756.4120,13.698898
1985,8490,FDU44,NaN,Regular,0.102296,Fruits and Vegetables,162.3552,OUT019,Small,Tier 1,Grocery Store,487.3656,13.733529
1985,8504,NCN18,NaN,Low Fat,0.124111,Household,111.7544,OUT027,Medium,Tier 3,Supermarket Type3,4138.6128,13.457754